//scrollbar - DO NOT TOUCH

body::-webkit-scrollbar {
    width: 10px;
    background-color: #101010;
};

body::-webkit-scrollbar-thumb {
    background-color: #85c226;
    border-radius: 5px;
};

@media (min-width: 50rem)
{.side-bar {
    width: 264px;
}}

@media (min-width: 50rem)
{.main {
    position: relative;
    max-width: 100%;
    margin-left: 264px;
}}

table {
    display: table;
    /* max-width: 100%; */
    /* min-width: fit-content; */
    width: fit-content;
    border-collapse: separate;
}