---
---

@import "{{ site.theme }}";

body {
  background-attachment: fixed;
	background-image: none;
	background-color: #101010;
	color: white;
	margin: 0px;
	font-family: IBMPlexSans, Arial, sans-serif;
}

/* Table */
table {
	table-layout: fixed;
	width: 100%;
	color:#fff;
	margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

table th {
    text-align: left;
    border-bottom: 1px dashed #79bd28;
	padding: 5px 10px;
	width: 85px;
}
table td {
	padding: 2px 10px;
	border-bottom: 1px dashed #79bd28;
}

table tp {
	width: 10%;
	padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
	color: #79bd28;
	text-shadow: none;
	font-family: IBMPlexSans, Arial, sans-serif;
}

a {
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  font-size: 12px;
}

p, ul, ol, table, pre, dl {
    font-size: 12px;
    color: #fff;
}

header h1 {
	color: #79bd28;
	text-shadow: none;
	font-family: IBMPlexSans, Arial, sans-serif;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #cdcdcd;
}

header {
	border-bottom: 1px solid #79bd28;
	font-family: IBMPlexSans, Arial, sans-serif;
	background-image: url(https://b.thumbs.redditmedia.com/H4SHs2vvQXgnXsHBs0XEkxtqtuWNZ23lZ0bOCn2c5vo.png);
}

header h1:before {
	content: none;
}

//Footer - DO NOT TOUCH!!!
#heart-anim {
  color: #dd0000;
  animation: heart-blink 1s infinite;
  display: inline-block;
}

@keyframes heart-blink{
	0%{transform: scale( .75 );}
	20%{transform: scale( 1 );}
	40%{transform: scale( .75 );}
	60%{transform: scale( 1 );}
	80%{transform: scale( .75 );}
	100%{transform: scale( .75 );}
}
  
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
  background-color: #0e0e0e;
  text-align: center;
  font-size: 14px;
}

.flag-text {
  position: absolute;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  padding-left: 5px;
 }