---
---

@import "{{ site.theme }}";

body {
    background-attachment: fixed;
	background-image: none;
	background-color: #101010;
	color: white;
	margin: 0px;
	font-family: IBMPlexSans, Arial, sans-serif;
}

/* Table */
table {
	table-layout: auto;
	width: 100%;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

table th {
    text-align: left;
    border-bottom: 1px dashed #79bd28;
	padding: 5px 10px;
	width: 85px;
}
table td {
	padding: 2px 10px;
	border-bottom: 1px dashed #79bd28;
}

tdLeft {
	text-align:left;
}

table tp {
	width: 10%;
	padding: 8px;
}

.markYellow {
	color:#c0c000;
}

.markRed {
	color:#840000;
}

.markRed2 {
	color:#ff0000;
}

.markGreen {
	color:#79bd28;
}


p, ul, ol, table, pre, dl {
    font-size: 12px;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #79bd28;
	text-shadow: none;
	font-family: IBMPlexSans, Arial, sans-serif;
}

a {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
}

header h1 {
	color: #79bd28;
	text-shadow: none;
	font-family: IBMPlexSans, Arial, sans-serif;
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #cdcdcd;
}

header {
	border-bottom: 1px solid #79bd28;
	font-family: IBMPlexSans, Arial, sans-serif;
	background-image: url(https://b.thumbs.redditmedia.com/H4SHs2vvQXgnXsHBs0XEkxtqtuWNZ23lZ0bOCn2c5vo.png);
}

header h1:before {
	content: none;
}

//Footer - DO NOT TOUCH!!!
#heart-anim {
    color: #dd0000;
    animation: heart-blink 1s infinite;
    display: inline-block;
}

@keyframes heart-blink{
	0%{transform: scale( .75 );}
	20%{transform: scale( 1 );}
	40%{transform: scale( .75 );}
	60%{transform: scale( 1 );}
	80%{transform: scale( .75 );}
	100%{transform: scale( .75 );}
}
  
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6px;
    background-color: #0e0e0e;
    text-align: center;
}

//Flags - DO NOT TOUCH
.flag {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209282/flags.png');
    background-position: -4px -129px; // Default to Canada cause homeland ¯¯\(°_o)/¯¯ 
    display: inline-block;
    height: 17px;
    width: 23px;
    
    &-AD {
        background-position: -4px -3px;
    }
    &-AE {
        background-position: -37px -3px;
    }
    &-AG {
        background-position: -4px -24px;
    }
    &-AM {
        background-position: -37px -24px;
    }
    &-AR {
        background-position: -4px -45px;
    }
    &-AT {
        background-position: -37px -45px;
    }
    &-AU {
        background-position: -4px -66px;
    }
    &-BE {
        background-position: -37px -66px;
    }
    &-BF {
        background-position: -4px -87px;
    }
    &-BG {
        background-position: -37px -87px;
    }
    &-BO {
        background-position: -4px -108px;
    }
    &-BR {
        background-position: -37px -108px;
    }
    &-CA {
        background-position: -4px -129px;
    }
    &-CD {
        background-position: -37px -129px;
    }
    &-CG {
        background-position: -4px -150px;
    }
    &-CH {
        background-position: -37px -150px;
    }
    &-CL {
        background-position: -4px -171px;
    }
    &-CM {
        background-position: -37px -171px;
    }
    &-CN {
        background-position: -4px -192px;
    }
    &-CO {
        background-position: -37px -192px;
    }
    &-CZ {
        background-position: -4px -213px;
    }
    &-DE {
        background-position: -37px -213px;
    }
    &-DJ {
        background-position: -4px -234px;
    }
    &-DK {
        background-position: -37px -234px;
    }
    &-DZ {
        background-position: -4px -255px;
    }
    &-EE {
        background-position: -37px -255px;
    }
    &-EG {
        background-position: -4px -276px;
    }
    &-ES {
        background-position: -37px -276px;
    }
    &-FL {
        background-position: -4px -297px;
    }
    &-FR {
        background-position: -37px -297px;
    }
    &-GA {
        background-position: -4px -318px;
    }
    &-GB {
        background-position: -37px -318px;
    }
    &-GM {
        background-position: -4px -339px;
    }
    &-GT {
        background-position: -37px -339px;
    }
    &-HN {
        background-position: -4px -360px;
    }
    &-HT {
        background-position: -37px -360px;
    }
    &-HU {
        background-position: -4px -381px;
    }
    &-ID {
        background-position: -37px -381px;
    }
    &-IE {
        background-position: -4px -402px;
    }
    &-IL {
        background-position: -37px -402px;
    }
    &-IN {
        background-position: -4px -423px;
    }
    &-IQ {
        background-position: -37px -423px;
    }
    &-IR {
        background-position: -4px -444px;
    }
    &-IT {
        background-position: -37px -444px;
    }
    &-JM {
        background-position: -4px -465px;
    }
    &-JO {
        background-position: -37px -465px;
    }
    &-JP {
        background-position: -4px -486px;
    }
    &-KG {
        background-position: -37px -486px;
    }
    &-KN {
        background-position: -4px -507px;
    }
    &-KP {
        background-position: -37px -507px;
    }
    &-KR {
        background-position: -4px -528px;
    }
    &-KW {
        background-position: -37px -528px;
    }
    &-KZ {
        background-position: -4px -549px;
    }
    &-LA {
        background-position: -37px -549px;
    }
    &-LB {
        background-position: -4px -570px;
    }
    &-LC {
        background-position: -37px -570px;
    }
    &-LS {
        background-position: -4px -591px;
    }
    &-LU {
        background-position: -37px -591px;
    }
    &-LV {
        background-position: -4px -612px;
    }
    &-MG {
        background-position: -37px -612px;
    }
    &-MK {
        background-position: -4px -633px;
    }
    &-ML {
        background-position: -37px -633px;
    }
    &-MM {
        background-position: -4px -654px;
    }
    &-MT {
        background-position: -37px -654px;
    }
    &-MX {
        background-position: -4px -675px;
    }
    &-NA {
        background-position: -37px -675px;
    }
    &-NE {
        background-position: -4px -696px;
    }
    &-NG {
        background-position: -37px -696px;
    }
    &-NI {
        background-position: -4px -717px;
    }
    &-NL {
        background-position: -37px -717px;
    }
    &-NO {
        background-position: -4px -738px;
    }
    &-OM {
        background-position: -37px -738px;
    }
    &-PA {
        background-position: -4px -759px;
    }
    &-PE {
        background-position: -37px -759px;
    }
    &-PG {
        background-position: -4px -780px;
    }
    &-PK {
        background-position: -37px -780px;
    }
    &-PL {
        background-position: -4px -801px;
    }
    &-PT {
        background-position: -37px -801px;
    }
    &-PY {
        background-position: -4px -822px;
    }
    &-QA {
        background-position: -37px -822px;
    }
    &-RO {
        background-position: -4px -843px;
    }
    &-RU {
        background-position: -37px -843px;
    }
    &-RW {
        background-position: -4px -864px;
    }
    &-SA {
        background-position: -37px -864px;
    }
    &-SE {
        background-position: -4px -885px;
    }
    &-SG {
        background-position: -37px -885px;
    }
    &-SL {
        background-position: -4px -906px;
    }
    &-SN {
        background-position: -37px -906px;
    }
    &-SO {
        background-position: -4px -927px;
    }
    &-SV {
        background-position: -37px -927px;
    }
    &-TD {
        background-position: -4px -948px;
    }
    &-TJ {
        background-position: -37px -948px;
    }
    &-TL {
        background-position: -4px -969px;
    }
    &-TR {
        background-position: -37px -969px;
    }
    &-TZ {
        background-position: -4px -990px;
    }
    &-UA {
        background-position: -37px -990px;
    }
    &-US {
        background-position: -4px -1011px;
    }
    &-VE {
        background-position: -37px -1011px;
    }
    &-VN {
        background-position: -4px -1032px;
    }
    &-YE {
        background-position: -37px -1032px;
    }
}

mixin flag(country)
    i.flag(class="flag-" + country)

.flag-container
    +flag('AD')
    +flag('AE')
    +flag('AG')
    +flag('AM')
    +flag('AR')
    +flag('AT')
    +flag('AU')
    
    +flag('BE')
    +flag('BF')
    +flag('BG')
    +flag('BO')
    +flag('BR')
    
    +flag('CA')
    +flag('CD')
    +flag('CG')
    +flag('CH')
    +flag('CL')
    +flag('CM')
    +flag('CN')
    +flag('CO')
    +flag('CZ')
    
    +flag('DE')
    +flag('DJ')
    +flag('DK')
    +flag('DZ')
    
    +flag('EE')
    +flag('EG')
    +flag('ES')
    
    +flag('FL')
    +flag('FR')
    
    +flag('GA')
    +flag('GB')
    +flag('GM')
    +flag('GT')
    
    +flag('HN')
    +flag('HT')
    +flag('HU')
    
    +flag('ID')
    +flag('IE')
    +flag('IL')
    +flag('IN')
    +flag('IQ')
    +flag('IR')
    +flag('IT')
    
    +flag('JM')
    +flag('JO')
    +flag('JP')
    
    +flag('KG')
    +flag('KN')
    +flag('KP')
    +flag('KR')
    +flag('KW')
    +flag('KZ')
    
    +flag('LA')
    +flag('LB')
    +flag('LC')
    +flag('LS')
    +flag('LU')
    +flag('LV')
    
    +flag('MG')
    +flag('MK')
    +flag('ML')
    +flag('MM')
    +flag('MT')
    +flag('MX')
    
    +flag('NA')
    +flag('NE')
    +flag('NG')
    +flag('NI')
    +flag('NL')
    +flag('NO')
    
    +flag('OM')
    
    +flag('PA')
    +flag('PE')
    +flag('PG')
    +flag('PK')
    +flag('PL')
    +flag('PT')
    +flag('PY')
    
    +flag('QA')
    
    +flag('RO')
    +flag('RU')
    +flag('RW')
    
    +flag('SA')
    +flag('SE')
    +flag('SG')
    +flag('SL')
    +flag('SN')
    +flag('SO')
    +flag('SV')
    
    +flag('TD')
    +flag('TJ')
    +flag('TL')
    +flag('TR')
    +flag('TZ')
    
    +flag('UA')
    +flag('US')
    
    +flag('VE')
    +flag('VN')
    
    +flag('YE')