---
---

@import "{{ site.theme }}";

body {
  background-attachment: fixed;
	background-image: none;
	background-color: #101010;
	color: white;
	margin: 0px;
	font-family: IBMPlexSans, Arial, sans-serif;
}

html {
  width:100vw;
  overflow-x:hidden;
}

//scrollbar - DO NOT TOUCH

body::-webkit-scrollbar {
    width: 10px;
    background-color: #101010;
}

body::-webkit-scrollbar-thumb {
    background-color: #79bd28;
    border-radius: 5px;
}
.container {
  max-width: 1200px;
}


/* Table */
table {
	table-layout: fixed;
	width: 100%;
	color:#fff;
	margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

table th {
    text-align: left;
    border-bottom: 1px dashed #79bd28;
	padding: 5px 10px;
}
table td {
	padding: 2px 10px;
	border-bottom: 1px dashed #79bd28;
}

table tp {
	width: 10%;
	padding: 8px;
}

.customTable {
	table-layout: auto;
	width: 100%;
	color:#fff;
	margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: #79bd28;
	text-shadow: none;
	font-family: IBMPlexSans, Arial, sans-serif;
}

a {
  color: #79bd28;
  text-shadow: none;
  text-decoration: none;
  font-size: 14px;
}

p, ul, ol, pre, dl {
    font-size: 14px;
    color: #fff;
}

header h1 {
	color: #79bd28;
	text-shadow: none;
	font-family: IBMPlexSans, Arial, sans-serif;
  margin-top: 11px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #cdcdcd;
}

header {
	border-bottom: 1px solid #79bd28;
	font-family: IBMPlexSans, Arial, sans-serif;
	background-image: url(/ASRockWiki/assets/img/site/header.png);
	height: 130px;
}

header h1:before {
	content: none;
}

//Footer - DO NOT TOUCH!!!
#heart-anim {
  color: #dd0000;
  animation: heart-blink 1s infinite;
  display: inline-block;
}

@keyframes heart-blink{
	0%{transform: scale( .75 );}
	20%{transform: scale( 1 );}
	40%{transform: scale( .75 );}
	60%{transform: scale( 1 );}
	80%{transform: scale( .75 );}
	100%{transform: scale( .75 );}
}
  
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
  background-color: #101010;
  text-align: center;
  font-size: 14px;
}

.flag-text {
  position: absolute;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  padding-left: 5px;
 }

code.highlighter-rouge {
  color: #b5e853;
}

ul li {
  list-style-image: url(/ASRockWiki/assets/img/site/bullet.png);
}

section img {
  margin: 2px 5px 0px 0px;
}

section {
  margin: 0 0 100px 0;
}

hr {
  color: #79bd28;
  border-bottom: 1px dashed #79bd28;
}

.social {
  float: right;
  margin-right: 150px;
}

.social i {
  color: #79bd28;
  background-color: black;
}