---
---

@import "{{ site.theme }}";

header h1:before {
	content: none;
}

body {
    background-attachment: fixed;
    background-image: url('https://raw.githubusercontent.com/botflakes/docs/master/assets/css/bg.png');
	color: white;
	margin: 0px;
	font-family: monospace;
}

/* Table */
table {
	table-layout: auto;
	width: 100%;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

table th {
    text-align: left;
    border-bottom: 1px dashed #C45025;
    padding: 5px 10px;
}
table td {
	padding: 2px;
	border-bottom: 1px dashed #C45025;
}

tdLeft {
	text-align:left;
}

table tp {
	width: 10%;
	padding: 8px;
}

.markYellow {
	cursor:text !important;
	color:#c0c000;
}

.markRed {
	cursor:text !important;
	color:#840000;
}

.markRed2 {
	cursor:text !important;
	color:#ff0000;
}

.markGreen {
	cursor:text !important;
	color:#168400;
}


p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
    font-size: 12px;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #C45025;
	text-shadow: none;
	font-family: monospace;
}

a {
	color: #cdcdcd;
	text-shadow: none;
}

header h1 {
	color: #C45025;
}

header {
	border-bottom: 1px dashed #C45025;
}